# ═══════════════════════════════════════════════════════════════
# REYDM – Environment Variables
# ═══════════════════════════════════════════════════════════════

# ─── Flask ────────────────────────────────────────────────────
SECRET_KEY=your-random-secret-key-change-me

# ─── MySQL Database ───────────────────────────────────────────
DB_HOST=mysql-21f1e29c-reydmdeveloper-2e13.i.aivencloud.com
DB_PORT=17090
DB_USER=avnadmin
DB_PASSWORD=AVNS_l-v67tdYKfQUCJZmrp9
DB_NAME=reydm_db

# ─── Gmail SMTP ───────────────────────────────────────────────
GMAIL_USER=reydmdeveloper@gmail.com
GMAIL_APP_PASSWORD=txebwrbrwtvuqttc
